__pycache__/
.venv/
.env
storage/
*.faiss
*.pkl
*.pdf
*.png
*.jpg

models/
storage/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.DS_Store
.pytest_cache/
.env


# Allow test PDFs even if *.pdf is ignored above
!test_files/
!test_files/*.pdf
!test_files/**/*.pdf
